@use "../utils" as *;
.comment{
  margin: 1em 0;
  padding: 1em;
  display: grid;
  grid-template-areas:
          "user user"
          "content content"
          "voting action";
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 0 15px $light-gray;

  @include respond-to('l'){
    grid-template-areas:
            "voting user action"
            "voting content content";
  }

  &__header{
    margin: .5em 0;
    grid-area: user;
    display: flex;
    align-items: center;
    &__badge{
      padding: .25em .5em;
      color: $white;
      font-size: calc($standard - .4rem);
      font-weight: $bold;
      background-color: $moderate-blue;
      border-radius: 4px;
    }
    span{
      margin: 0 .5em;
      &:first-of-type{
        font-weight: $bold;
      }
      &:last-of-type{
        color: $grayish-blue;
      }
    }
  }
  &__content{
    grid-area: content;
    p{
      color: $dark-blue;
      span{
        color: $moderate-blue;
        font-weight: $bold;
      }
    }
  }
  &__vote{
    grid-area: voting;
    justify-self: flex-start;
    margin-top: 1em;
    @include respond-to('l'){
      margin: .8em;
    }
  }
  &__actions{
    grid-area: action;
    justify-self: flex-end;
    align-self: center;
    display: flex;
    margin-top: 1em;
    @include respond-to('l'){
      margin-top: 0;
    }
  }
  &__reply{
    margin-left: 2.5em;
    padding-left: 1em;
    border-left: 2px solid $light-gray;
    background: none;
  }
}