@use "../utils" as *;
.vote{
  display: flex;
  align-items: center;
  background-color: $very-light-gray;
  border-radius: 8px;
  @include respond-to('l'){
    flex-direction: column;
  }
  &__btn{
    padding: .65em;
    background: none;
    border: 1px solid transparent;
    overflow: hidden;
    color: $grayish-blue;
    cursor: pointer;
    &:last-child{
      padding-bottom: 1em;
    }
  }
  &__score{
    padding: .5em;
    color: $moderate-blue;

  }

}