@use "../utils" as *;
.vote{
  display: flex;
  align-items: center;
  background-color: $very-light-gray;
  border-radius: 8px;
  @include respond-to('l'){
    flex-direction: column;
  }
  &__btn{
    padding: .65em;
    background: none;
    font-size: $standard;
    border: 1px solid transparent;
    overflow: hidden;
    color: $grayish-blue;
    cursor: pointer;
  }
  &__score{
    padding: .5em;
    color: $moderate-blue;

  }

}